@import "tailwindcss";
@import "@heroui/styles"; 
:root {
  --primary-color: #8B5A2B;
  --secondary-color: #C8A96B;
  --tertiary-color: #2D1F16;
  --neutral-color: #F5EFE3;
  --ancient-color: #51443A;
  --title-color: #6F4315;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-garamond: var(--font-cormorant-garamond), Georgia, Cambria, "Times New Roman", serif;
  --font-vibes: var(--font-great-vibes), cursive;
}

html {
  font-family: var(--font-inter);
}

body {
  min-height: 100vh;
  font-family: var(--font-inter);
  background-color: var(--neutral-color);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-garamond {
  font-family: var(--font-garamond);
}

.font-vibes {
  font-family: var(--font-vibes);
}

.text-primary {
  color: var(--primary-color);
}
.text-ancient {
  color: var(--ancient-color);
}
.text-title {
  color: var(--title-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.custom-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #f8f7f5;
  transition: all 0.3s ease;
  outline: none;
}

.custom-input:focus {
  border-color: #8B5A2B;
  box-shadow: 0 0 0 4px rgba(139, 90, 43, 0.12);
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 90%;
}

.codex-editor__redactor{
  padding-bottom: 30px !important;
}

h1.ce-header {
  font-size: 3rem !important;      /* 48px */
}

h2.ce-header {
  font-size: 2.25rem !important;   /* 36px */
}

h3.ce-header {
  font-size: 1.875rem !important;  /* 30px */
}

h4.ce-header {
  font-size: 1.5rem !important;    /* 24px */
}

h5.ce-header {
  font-size: 1.25rem !important;   /* 20px */
}

h6.ce-header {
  font-size: 1rem !important;      /* 16px */
}